.card-img-size {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-img-size:hover .course-imager {
  opacity: 0.8;
  transition: 0.3s ease;
}

.course-card {
  position: relative;
}

.course-details-wrapper {
  position: absolute;
  top: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 1500;
  transition:
    opacity 0.1s ease,
    visibility 0.1s ease;
}

.course-card:hover .course-details-wrapper {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.course-details-wrapper.align-right {
  left: 100%;
}

.course-details-wrapper.align-left {
  right: 100%;
}

.course-details-card {
  width: 21.5rem;
  /* height: auto; */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
}

.course-card-scroller {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.course-card-grid {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1.2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.course-card-grid::-webkit-scrollbar {
  display: none; /* WebKit */
}

.course-card-grid > * {
  scroll-snap-align: center;
}

/* 預設為小螢幕設置 */
.course-card-grid {
}

@media screen and (max-width: 36rem) {
  .course-card-grid > * {
    /* scroll-snap-align: center; */
    grid-auto-columns: 100%;
    scroll-snap-align: center;
    margin: 3.8 rem;
  }
}

/* 中等螢幕：2列 */
@media screen and (min-width: 37.56rem) {
  .course-card-grid {
    grid-auto-columns: calc((100% - 1.6rem) / 2);
  }
}

/* 大螢幕：3列 */
@media screen and (min-width: 43.81rem) {
  .course-card-grid {
    grid-auto-columns: calc((100% - 3.2rem) / 3);
  }
}

/* 特大螢幕：4列 */
@media screen and (min-width: 61.31rem) {
  .course-card-grid {
    grid-auto-columns: calc((100% - 4.8rem) / 4);
  }
}

/* 超大螢幕：5列 */
@media screen and (min-width: 75.06rem) {
  .course-card-grid {
    grid-auto-columns: calc((100% - 10.5rem) / 5);
  }
}

.badge-tag {
  display: inline-block;
  background-color: #e6f0ff; /* 淺藍或可換成 #f3e8ff 淡紫 */
  color: #1c3faa; /* 深藍文字 */
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  border-radius: 1px;
}
