@import "components/banner.css";
@import "components/card-scroller.css";
@import "components/course-card.css";
@import "components/nav.css";
@import "components/login.css";


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-small {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-color {
  color: #9169f5;
}
