@import "components/banner.css";
@import "components/card-scroller.css";
@import "components/course-card.css";
@import "components/nav.css";
@import "components/login.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-small {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-color {
  color: #9169f5;
}
.btn-outline-purple {
  color: #6d28d2;
  border: 2px solid #6d28d2;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s ease;
}

.btn-outline-purple:hover {
  background-color: #6d28d2;
  color: #fff;
}
