@import "components/banner.css";
@import "components/card-scroller.css";
@import "components/course-card.css";
@import "components/nav.css";
@import "components/login.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img-small {
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text-color {
  color: #9169f5;
}
.btn-outline-purple {
  color: #6d28d2;
  border: 2px solid #6d28d2;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  transition: all 0.3s ease;
}

.btn-outline-purple:hover {
  background-color: #6d28d2;
  color: #fff;
}

.btn-purple {
  --bs-btn-bg: #a435f0;
  --bs-btn-border-color: #a435f0;
  color: #fff;
  border-radius: 0.25rem;
}

.btn-purple:hover {
  background-color: rgba(164, 53, 240, 0.85);
  color: white;
  border-color: #a435f0;
  outline: none;
  box-shadow: 0 0 0 0.15rem rgba(164, 53, 240, 0.25);
}

.btn-purple:disabled,
.btn-purple[disabled] {
  background-color: #d8b4fe;
  border-color: #d8b4fe;
  color: #ffffff;
  opacity: 1;
}
